{
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "commonjs": true
  },
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "react/prop-types": 0,
    "react/jsx-uses-vars": [2],
    "no-console":0,
    "indent": [
      2,
      "tab"
  ],
  "quotes": [
      2,
      "single"
  ],
  "linebreak-style": [
      0,
      "unix"
  ],
  "semi": [
      2,
      "always"
  ]
  }
}